:root {
  --dark: #3A393E;
  --lessdark: #7D7F89;
  --primary: #94E5DD;
  --secondary: #CDF2ED;
  font-size: 1rem;
  font-family: 'Fjalla One', sans-serif;
}

* {
  margin: 0;
}

body {
  margin: 0;
}

header {
  /* background: var(--dark); */
  background-image: linear-gradient(#94E5DD, #7D7F89);
  min-height: 10em;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

header h1 {
  color: var(--secondary);
  font-size: 12em;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: .5;
  transform: translate(-50%, 0%);
  /* background: red; */
  margin-bottom: -.25em;
  animation-name: slide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  
}

header h2 {
  color: var(--primary);
  font-size: 4em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  /* background: blue; */
  margin-bottom: -.25em;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  opacity: .9;
  animation-name: slide2;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.bar3 {

  background-image: linear-gradient( #CDF2ED, #94E5DD);
  min-height: 5em;
  margin: 0em;
  width: 100%;
padding-top: 9em;
z-index: 0;
margin-top: 0em;

}


.bar2 {
  background-image: linear-gradient( #CDF2ED, #94E5DD);
  min-height: 5em;
  margin: 0em;
  width: 100%;
  z-index: 0;
  margin-top: -5em;
  /* animation-name: bar;
  animation-fill-mode: forwards;
  animation-duration: 1s; */
  /* animation-iteration-count: infinite; */
}

.bar {
  background-image: linear-gradient(#94E5DD, #CDF2ED);
  min-height: 5em;
  margin: 0em;
  width: 100%;
  padding-top: 0em;
  z-index: 0;
  /* animation-name: bar;
  animation-fill-mode: forwards;
  animation-duration: 1s; */
  /* animation-iteration-count: infinite; */
}

main {
  color: var(--lessdark);
  width: 100%;
  background: var(--secondary);
}

main section {
  /* padding: 1em; */
  padding-top: 7em;
  padding-bottom: em;
}

nav.button-bar {
  color: white;
  padding: 0;
}

nav.button-bar a {
  margin: 0 auto;
  background-color: var(--secondary);
  /*Green*/border: none;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 45px;
  color: var(--lessdark);
  font-family: 'Fjalla One', sans-serif;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation-name: bar;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

nav.button-bar a:hover {
  background-image: linear-gradient(#94E5DD, #CDF2ED);
  color: white;
  z-index: 1;
}

section.page-section {
  padding: 2.4em;
  background: var(--secondary);
}

article {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 0em;
}

page-section.article {
  color: blue;
}

@keyframes fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes slide {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    text-align: center;
    opacity: .45;
  }
}

@keyframes slide2 {
  from {
    left: 1000px;
    opacity: 0;
  }
  to {
    text-align: center;
    opacity: .9;
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.container {
  align-content: center;
  text-align: center;
  margin-top: -150px;
}

#fname {
  align-text: right;
  width: 200px;
  margin-right: 0em;
  font-family: 'Noto Sans', sans-serif;
  border: none;
}

#ename {
  align-text: right;
  width: 200px;
  font-family: 'Noto Sans', sans-serif;
  border: none;
}

#subject {
  font-family: 'Noto Sans', sans-serif;
  outline: none;
  border: none;
}

#subbutt {
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--primary);
  color: var(--lessdark);
  text-size: 25px;
  width: 50px;
  border: double;
  margin-bottom: 5em; 
}

#subbutt:hover {
  font-family: 'Fjalla One', sans-serif;
  background-color: var(--primary);
  color: var(--lessdark);
  text-size: 25px;
  width: 50px;
  border: double;
  animation: bounce 1s;
  cursor: pointer;
}

.logos {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 0em;
}

.me {
  align-content: center;
  margin-top: -30px;
  width: 275px;
  padding-bottom: 10px;
}

/* test */

html {
  scroll-behavior: smooth;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:;
	color: var(--dark);
	border-radius:50px;
	text-align:center;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
}

.homebutton
{
  color: var(--lessdark);
  animation-name: bounce 1s ; 
  cursor: pointer;
}