/* Rectangle 2.1 */

position: absolute;
width: 360px;
height: 134px;
left: 0px;
top: 127px;

background: linear-gradient(180deg, #3A393E 0%, rgba(255, 255, 255, 0) 100%), #979799;
mix-blend-mode: lighten;


/* Rectangle 2.3 */

position: absolute;
width: 360px;
height: 137px;
left: 0px;
top: 525px;

background: linear-gradient(180deg, #3A393E 0%, rgba(255, 255, 255, 0) 100%), #979799;
mix-blend-mode: lighten;
opacity: 0.65;
transform: matrix(1, 0, 0, -1, 0, 0);


/* contact */

position: absolute;
width: 72px;
height: 24px;
left: 68px;
top: 15px;

font-family: Noto Sans;
font-style: italic;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #3A393E;


/* about */

position: absolute;
width: 72px;
height: 24px;
left: 148px;
top: 15px;

font-family: Noto Sans;
font-style: italic;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #3A393E;


/* resume */

position: absolute;
width: 72px;
height: 24px;
left: 220px;
top: 15px;

font-family: Noto Sans;
font-style: italic;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #3A393E;


/* image 2.1 */

position: absolute;
width: 30px;
height: 30px;
left: 200px;
top: 600px;

background: url(image.png);


/* SAM */

position: absolute;
width: 360px;
height: 172px;
left: 0px;
top: 220px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 170px;
text-align: center;

color: #94E6DD;
mix-blend-mode: difference;


/* LUDWIG */

position: absolute;
width: 360px;
height: 87px;
left: 0px;
top: 275px;

font-family: Fjalla One;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 72px;
text-align: center;

color: #94E6DD;


/* Subtract */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: #C4C4C4;
mix-blend-mode: color-burn;
opacity: 0.5;


/* Rectangle 4 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* Group 35 */

position: absolute;
width: 537px;
height: 734px;
left: -90px;
top: -47px;



/* Group 34.4 */

position: absolute;
width: 97px;
height: 92px;
left: 295px;
top: 50px;

mix-blend-mode: multiply;
transform: rotate(-90deg);


/* Group 33.2 */

position: absolute;
width: 33.26px;
height: 74.83px;
left: 295px;
top: -38.38px;

transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 29.85px;
height: 42.65px;
left: 296.65px;
top: -38.83px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Polygon */

position: absolute;
width: 33.26px;
height: 59.79px;
left: 345.84px;
top: 22.9px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 24.09px;
height: 45.51px;
left: 307.94px;
top: -11.49px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 57.31px;
height: 45.68px;
left: 302.72px;
top: 29.39px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(-90deg);


/* Group 33.3 */

position: absolute;
width: 37.99px;
height: 77.85px;
left: 309.15px;
top: 50px;

transform: rotate(-90deg);


/* Ellipse 2 */

position: absolute;
width: 34.09px;
height: 44.37px;
left: 309.15px;
top: 48.05px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(-90deg);


/* Polygon */

position: absolute;
width: 37.99px;
height: 62.2px;
left: 384.42px;
top: 12.01px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
width: 27.52px;
height: 47.34px;
left: 339.66px;
top: 43.67px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(-90deg);


/* Group 34.5 */

position: absolute;
width: 97px;
height: 92px;
left: 65px;
top: 50px;

mix-blend-mode: multiply;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 33.26px;
height: 74.83px;
left: 65px;
top: -38.38px;

transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 29.85px;
height: 42.65px;
left: 63.35px;
top: -38.83px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Polygon */

position: absolute;
width: 33.26px;
height: 59.79px;
left: 14.16px;
top: 22.9px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 24.09px;
height: 45.51px;
left: 52.06px;
top: -11.49px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 57.31px;
height: 45.68px;
left: 57.28px;
top: 29.39px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 37.99px;
height: 77.85px;
left: 50.85px;
top: 50px;

transform: matrix(0, -1, -1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 34.09px;
height: 44.37px;
left: 50.85px;
top: 48.05px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 37.99px;
height: 62.2px;
left: -24.42px;
top: 12.01px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Vector */

position: absolute;
width: 27.52px;
height: 47.34px;
left: 20.34px;
top: 43.67px;

background: #CDF2ED;
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 34.2 */

position: absolute;
width: 97px;
height: 92px;
left: 65px;
top: 590px;

mix-blend-mode: multiply;
transform: rotate(90deg);


/* Group 33.2 */

position: absolute;
width: 33.26px;
height: 74.83px;
left: 65px;
top: 678.38px;

transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 29.85px;
height: 42.65px;
left: 63.35px;
top: 678.83px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Polygon */

position: absolute;
width: 33.26px;
height: 59.79px;
left: 14.16px;
top: 617.1px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 24.09px;
height: 45.51px;
left: 52.06px;
top: 651.49px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 57.31px;
height: 45.68px;
left: 57.28px;
top: 610.61px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: rotate(90deg);


/* Group 33.3 */

position: absolute;
width: 37.99px;
height: 77.85px;
left: 50.85px;
top: 590px;

transform: rotate(90deg);


/* Ellipse 2 */

position: absolute;
width: 34.09px;
height: 44.37px;
left: 50.85px;
top: 591.95px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: rotate(90deg);


/* Polygon */

position: absolute;
width: 37.99px;
height: 62.2px;
left: -24.42px;
top: 627.99px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: rotate(-90deg);


/* Vector */

position: absolute;
width: 27.52px;
height: 47.34px;
left: 20.34px;
top: 596.33px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: rotate(90deg);


/* Group 34.3 */

position: absolute;
width: 97px;
height: 92px;
left: 295px;
top: 590px;

mix-blend-mode: multiply;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 33.26px;
height: 74.83px;
left: 295px;
top: 678.38px;

transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 29.85px;
height: 42.65px;
left: 296.65px;
top: 678.83px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Polygon */

position: absolute;
width: 33.26px;
height: 59.79px;
left: 345.84px;
top: 617.1px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 24.09px;
height: 45.51px;
left: 307.94px;
top: 651.49px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 57.31px;
height: 45.68px;
left: 302.72px;
top: 610.61px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 37.99px;
height: 77.85px;
left: 309.15px;
top: 590px;

transform: matrix(0, 1, 1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 34.09px;
height: 44.37px;
left: 309.15px;
top: 591.95px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 37.99px;
height: 62.2px;
left: 384.42px;
top: 627.99px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
box-sizing: border-box;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Vector */

position: absolute;
width: 27.52px;
height: 47.34px;
left: 339.66px;
top: 596.33px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.5);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 34.6 */

position: absolute;
width: 152px;
height: 144px;
left: 220px;
top: 520px;

mix-blend-mode: multiply;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 52.07px;
height: 117.25px;
left: 220px;
top: 658.5px;

transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 46.73px;
height: 66.83px;
left: 222.58px;
top: 659.19px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Polygon */

position: absolute;
width: 52.07px;
height: 93.68px;
left: 299.57px;
top: 562.47px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 37.71px;
height: 71.31px;
left: 240.25px;
top: 616.36px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 89.8px;
height: 71.5px;
left: 232.08px;
top: 552.29px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 59.53px;
height: 121.85px;
left: 242.15px;
top: 520px;

transform: matrix(0, 1, 1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 53.43px;
height: 69.45px;
left: 242.15px;
top: 523.05px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 59.53px;
height: 97.35px;
left: 359.97px;
top: 579.53px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Vector */

position: absolute;
width: 43.12px;
height: 74.1px;
left: 289.9px;
top: 529.92px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 34.8 */

position: absolute;
width: 261px;
height: 144px;
left: 165px;
top: 420px;

mix-blend-mode: multiply;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 165px;
top: 657.82px;

transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 167.58px;
top: 659.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 244.57px;
top: 492.93px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 185.25px;
top: 585.46px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 177.08px;
top: 475.44px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 187.15px;
top: 420px;

transform: matrix(0, 1, 1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 187.15px;
top: 425.24px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 304.97px;
top: 522.22px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 234.9px;
top: 437.04px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 34.10 */

position: absolute;
width: 261px;
height: 144px;
left: 447px;
top: 542px;

mix-blend-mode: multiply;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 447px;
top: 304.18px;

transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 444.42px;
top: 302.99px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 367.43px;
top: 469.07px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 426.75px;
top: 376.54px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 434.92px;
top: 486.56px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 424.85px;
top: 542px;

transform: matrix(0, -1, -1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 424.85px;
top: 536.76px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 307.03px;
top: 439.78px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 377.1px;
top: 524.96px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 34.9 */

position: absolute;
width: 261px;
height: 144px;
left: 195px;
top: 420px;

mix-blend-mode: multiply;
transform: rotate(90deg);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 195px;
top: 657.82px;

transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 192.42px;
top: 659.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 115.43px;
top: 492.93px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 174.75px;
top: 585.46px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 182.92px;
top: 475.44px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 172.85px;
top: 420px;

transform: rotate(90deg);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 172.85px;
top: 425.24px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 55.03px;
top: 522.22px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 125.1px;
top: 437.04px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Group 34.11 */

position: absolute;
width: 261px;
height: 144px;
left: -87px;
top: 542px;

mix-blend-mode: multiply;
transform: rotate(-90deg);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: -87px;
top: 304.18px;

transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: -84.42px;
top: 302.99px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: -7.43px;
top: 469.07px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: -66.75px;
top: 376.54px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: -74.92px;
top: 486.56px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: -64.85px;
top: 542px;

transform: rotate(-90deg);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: -64.85px;
top: 536.76px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 52.97px;
top: 439.78px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: -17.1px;
top: 524.96px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Group 34.7 */

position: absolute;
width: 152px;
height: 144px;
left: 140px;
top: 520px;

mix-blend-mode: multiply;
transform: rotate(90deg);


/* Group 33.2 */

position: absolute;
width: 52.07px;
height: 117.25px;
left: 140px;
top: 658.5px;

transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 46.73px;
height: 66.83px;
left: 137.42px;
top: 659.19px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Polygon */

position: absolute;
width: 52.07px;
height: 93.68px;
left: 60.43px;
top: 562.47px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 37.71px;
height: 71.31px;
left: 119.75px;
top: 616.36px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 89.8px;
height: 71.5px;
left: 127.92px;
top: 552.29px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(90deg);


/* Group 33.3 */

position: absolute;
width: 59.53px;
height: 121.85px;
left: 117.85px;
top: 520px;

transform: rotate(90deg);


/* Ellipse 2 */

position: absolute;
width: 53.43px;
height: 69.45px;
left: 117.85px;
top: 523.05px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(90deg);


/* Polygon */

position: absolute;
width: 59.53px;
height: 97.35px;
left: 0.03px;
top: 579.53px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(-90deg);


/* Vector */

position: absolute;
width: 43.12px;
height: 74.1px;
left: 70.1px;
top: 529.92px;

background: rgba(148, 230, 221, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(90deg);


/* Group 34.14 */

position: absolute;
width: 152px;
height: 144px;
left: 217px;
top: 132px;

mix-blend-mode: multiply;
transform: rotate(-90deg);


/* Group 33.2 */

position: absolute;
width: 52.07px;
height: 117.25px;
left: 217px;
top: -6.5px;

transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 46.73px;
height: 66.83px;
left: 219.58px;
top: -7.19px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Polygon */

position: absolute;
width: 52.07px;
height: 93.68px;
left: 296.57px;
top: 89.53px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, 0.26, -0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 37.71px;
height: 71.31px;
left: 237.25px;
top: 35.64px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 89.8px;
height: 71.5px;
left: 229.08px;
top: 99.71px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(-90deg);


/* Group 33.3 */

position: absolute;
width: 59.53px;
height: 121.85px;
left: 239.15px;
top: 132px;

transform: rotate(-90deg);


/* Ellipse 2 */

position: absolute;
width: 53.43px;
height: 69.45px;
left: 239.15px;
top: 128.95px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(-90deg);


/* Polygon */

position: absolute;
width: 59.53px;
height: 97.35px;
left: 356.97px;
top: 72.47px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
width: 43.12px;
height: 74.1px;
left: 286.9px;
top: 122.08px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: rotate(-90deg);


/* Group 34.16 */

position: absolute;
width: 261px;
height: 144px;
left: 444px;
top: 110px;

mix-blend-mode: multiply;
transform: rotate(90deg);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 444px;
top: 347.82px;

transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 441.42px;
top: 349.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 364.43px;
top: 182.93px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 423.75px;
top: 275.46px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 431.92px;
top: 165.44px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 421.85px;
top: 110px;

transform: rotate(90deg);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 421.85px;
top: 115.24px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 304.03px;
top: 212.22px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 374.1px;
top: 127.04px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Group 34.18 */

position: absolute;
width: 261px;
height: 144px;
left: -90px;
top: 110px;

mix-blend-mode: multiply;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: -90px;
top: 347.82px;

transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: -87.42px;
top: 349.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: -10.43px;
top: 182.93px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: -69.75px;
top: 275.46px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: -77.92px;
top: 165.44px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: -67.85px;
top: 110px;

transform: matrix(0, 1, 1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: -67.85px;
top: 115.24px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 49.97px;
top: 212.22px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: -20.1px;
top: 127.04px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Group 34.19 */

position: absolute;
width: 152px;
height: 144px;
left: 137px;
top: 132px;

mix-blend-mode: multiply;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 52.07px;
height: 117.25px;
left: 137px;
top: -6.5px;

transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 46.73px;
height: 66.83px;
left: 134.42px;
top: -7.19px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Polygon */

position: absolute;
width: 52.07px;
height: 93.68px;
left: 57.43px;
top: 89.53px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0.97, 0.26, 0.26, -0.97, 0, 0);


/* Vector */

position: absolute;
width: 37.71px;
height: 71.31px;
left: 116.75px;
top: 35.64px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(-0.97, -0.26, -0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
width: 89.8px;
height: 71.5px;
left: 124.92px;
top: 99.71px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 59.53px;
height: 121.85px;
left: 114.85px;
top: 132px;

transform: matrix(0, -1, -1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 53.43px;
height: 69.45px;
left: 114.85px;
top: 128.95px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 59.53px;
height: 97.35px;
left: -2.97px;
top: 72.47px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
box-sizing: border-box;
transform: matrix(0, 1, 1, 0, 0, 0);


/* Vector */

position: absolute;
width: 43.12px;
height: 74.1px;
left: 67.1px;
top: 122.08px;

background: rgba(205, 242, 237, 0.5);
border: 1px solid rgba(151, 151, 153, 0.3);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 34.15 */

position: absolute;
width: 261px;
height: 144px;
left: 162px;
top: 232px;

mix-blend-mode: multiply;
transform: rotate(-90deg);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 162px;
top: -5.82px;

transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 164.58px;
top: -7.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 241.57px;
top: 159.07px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, 0.45, -0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 182.25px;
top: 66.54px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, -0.45, 0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 174.08px;
top: 176.56px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 184.15px;
top: 232px;

transform: rotate(-90deg);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 184.15px;
top: 226.76px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 301.97px;
top: 129.78px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(90deg);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 231.9px;
top: 214.96px;

background: rgba(151, 151, 153, 0.2);
transform: rotate(-90deg);


/* Group 34.17 */

position: absolute;
width: 261px;
height: 144px;
left: 192px;
top: 232px;

mix-blend-mode: multiply;
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.2 */

position: absolute;
width: 55.37px;
height: 196.85px;
left: 192px;
top: -5.82px;

transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 49.69px;
height: 112.2px;
left: 189.42px;
top: -7.01px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Polygon */

position: absolute;
width: 55.37px;
height: 157.28px;
left: 112.43px;
top: 159.07px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0.99, 0.45, 0.14, -0.92, 0, 0);


/* Vector */

position: absolute;
width: 40.11px;
height: 119.71px;
left: 171.75px;
top: 66.54px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(-0.99, -0.45, -0.14, 0.92, 0, 0);


/* Vector */

position: absolute;
width: 154.2px;
height: 71.5px;
left: 179.92px;
top: 176.56px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Group 33.3 */

position: absolute;
width: 102.22px;
height: 121.85px;
left: 169.85px;
top: 232px;

transform: matrix(0, -1, -1, 0, 0, 0);


/* Ellipse 2 */

position: absolute;
width: 91.74px;
height: 69.45px;
left: 169.85px;
top: 226.76px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Polygon */

position: absolute;
width: 102.22px;
height: 97.35px;
left: 52.03px;
top: 129.78px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Vector */

position: absolute;
width: 74.05px;
height: 74.1px;
left: 122.1px;
top: 214.96px;

background: rgba(151, 151, 153, 0.2);
transform: matrix(0, -1, -1, 0, 0, 0);


/* Rectangle 2 */

position: absolute;
width: 360px;
height: 252px;
left: 0px;
top: 640px;

background: linear-gradient(180deg, rgba(58, 57, 62, 0.8) 0%, rgba(68, 67, 72, 0.760221) 0.01%, rgba(255, 255, 255, 0) 100%), #94E6DD;
mix-blend-mode: soft-light;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 2.4 */

position: absolute;
width: 360px;
height: 322px;
left: 0px;
top: 324px;

background: linear-gradient(180deg, rgba(58, 57, 62, 0.8) 0%, rgba(68, 67, 72, 0.760221) 0.01%, rgba(255, 255, 255, 0) 100%), #94E6DD;
mix-blend-mode: soft-light;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 4.6 */

position: absolute;
width: 360px;
height: 33px;
left: 0px;
top: 359px;

background: linear-gradient(180deg, rgba(205, 242, 237, 0.5) 0%, rgba(58, 57, 62, 0.5) 100%);
mix-blend-mode: exclusion;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 4.5 */

position: absolute;
width: 360px;
height: 33px;
left: 0px;
top: 326px;

background: linear-gradient(180deg, rgba(205, 242, 237, 0.5) 0%, rgba(58, 57, 62, 0.5) 100%);
mix-blend-mode: exclusion;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 4.2 */

position: absolute;
width: 360px;
height: 33px;
left: 0px;
top: 294px;

background: linear-gradient(180deg, rgba(205, 242, 237, 0.5) 0%, rgba(58, 57, 62, 0.5) 100%);
mix-blend-mode: exclusion;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 4.1 */

position: absolute;
width: 360px;
height: 33px;
left: 0px;
top: 392px;

background: linear-gradient(180deg, rgba(205, 242, 237, 0.5) 0%, rgba(58, 57, 62, 0.5) 100%);
mix-blend-mode: exclusion;
transform: matrix(1, 0, 0, -1, 0, 0);
